table {
	border: 2px #FFDAB9;
}
td:hover {
	background-color: #FFE4E1;
	color: black;
}
tr, th {
	background-color: #FAF0E6;
	color: #800000;
}
tr, td {
	background-color: #FAF0E6;
	color: #800000;
}
h2 { color: #800000;
	background-color: FFE4E1;
}
